<div>
  This is your profile.
</div>

<!-- <% if (user) { %>
  <div>
    <p>Provider: <%= user.provider %></p>
    <p>ID: <%= user.id %></p>
    <p>Display Name: <%= user.displayName %></p>
    <p>Family Name: <%= user.name.familyName %></p>
    <p>Given Name: <%= user.name.givenName %></p>
    <p>Middle Name: <%= user.name.middleName %></p>
    <p>Email: <%= user.emails[0].value %></p>
    <p>Photo: <%= user.photos[0].value %></p>
  </div>
<% } else { %>
  <div class="">
    There is no user.
  </div>
<% } %> -->
