<div>
  <p>ID: <%= user.facebookId %></p>
  <p>Display Name: <%= user.name %></p>
</div>
<div>
  Other Users:
  <ul>
    <% allUsers.forEach((user) => { %>
      <li> User Name: <%= user.name %> Facebook ID: <%= user.facebookId %> Token: <%= user.token %> Email: <%= user.email %> </li>
    <% }); %>
  </ul>
</div>
